
    <li class="table">
        <p class="name"><a href="#tables/{{id}}">{{name}}</a></p>
        <p class="info"><span class="highlight">{{num_shards}}</span> {{pluralize_noun "shard" num_shards}}, <span class="highlight">{{num_replicas}}</span> {{pluralize_noun "replica" num_replicas}}</p>
        <p class="status">{{humanize_table_reachability ready_completely}}</p>
    </li>

