
    <h2 class="title">Replication status</h2>
    <div class="alert alert-error cannot_change_replicas">
        Please resolve the cluster configuration conflict before changing replicas.
    </div>

    <div class="replica-status"></div>
    <h2 class="title">Replication settings</h2>
    <div class="alert alert-error settings_alert"></div>
    <div class="cluster_container">
        <div class="cluster-info replica_container">
            <div class="status-alert alert"></div>
            {{#if editable}}
                <button class="cancel btn">&times;</button>
                <button class="save update-replicas btn">Update</button>
            {{else}}
                <button class="edit btn">Edit</button>
            {{/if}}
            <div class="cluster-replicas">
                {{#if editable}}
                    <p>
                        <input type="text" id="replicas_value" value="{{num_replicas_per_shard}}" class="inline_edit_input">
                        <span class="caption">replicas</span>
                    </p>
                    <p class="max-value">max replicas per shard: {{max_replicas_per_shard}}</p>
                {{else}}
                    <p><span class="value">{{num_replicas_per_shard}}</span> <span class="caption">replicas per shard</p>
                {{/if}}
            </div>
        </div>
    </div>


