{{#if start_shard}}
    <li class="datacenter parent">
        <div class="datacenter-info parent-info">
            <p class="name">
                <span class="num-keys">
                  <span class="highlight">~{{num_keys}}</span> {{pluralize_noun "document" num_keys}}
                </span>
                <span>Shard {{shard_id}}</span>
            </p>
        </div>
    </li>
{{/if}}

{{#if primary}}
            <li class="server child">
                <div class="tree-node"></div>
                <div class="server-info child-info">
                    <p class="name"><a href="/#servers/{{data.id}}">{{data.name}}</a></p>
                    <p class="primary"><span class="highlight">Primary replica</span></p>
                </div>
            </li>
{{/if}}

{{#if replica}}
            <li class="server child">
                <div class="tree-node"></div>
                <div class="server-info child-info">
                    <p class="name"><a href="/#servers/{{data.id}}">{{data.name}}</a></p>
                    <p class="secondary">Secondary replica</p>
                </div>
            </li>

{{/if}}
