
    <div class="alert alert-error settings_alert"></div>
    {{#if editable}}
        <div class="cannot_shard-alert alert alert-error"></div>
        <button class="btn cancel">&times;</button>
        <button class="btn rebalance">Rebalance</button>
        <p class="icon_paragraph">
            <input id="num_shards" class="num-shards" type="text" value="{{num_shards}}"/>
            <span class="shard_text">{{pluralize_noun "shard" num_shards}}</span>
        </p>
        <p class="max-value">max shards: {{max_shards}}</p>
    {{else}}
        <div class="cannot_shard-alert alert alert-error"></div>
        <button class="btn edit">Edit</button>
        <p class="icon_paragraph"><span class="big">{{num_shards}}</span> <span class="shard_text">{{pluralize_noun "shard" num_shards}}</span></p> 
    {{/if}}


