
    {{#if operation_active}}
        <div class="progress-status">
            <div class="stages">
                {{#if starting}}
                    <p>Started</p>
                {{/if}}
                {{#if processing}}
                    <p class="completed">Started</p>
                    <p>Sharding</p>
                {{/if}}
                {{#if finished}}
                    <p class="completed">Started</p>
                    <p class="completed">Sharded</p>
                {{/if}}
            </div>
            {{#if starting}}
                <p>0/{{new_value}} shards completed</p>
            {{else}}
                <p>{{current_value}}/{{max_value}} shards completed</p>
            {{/if}}
            <div class="progress"><div class="bar" style="width:{{#if starting}}0{{else}}{{percent_complete}}{{/if}}%"></div></div>
        </div>
    {{else}}
        <p><span class="big">{{current_value}}/{{max_value}}</span> shards available</p>
    {{/if}}


