<div class="summary">
    <div class="stat-row first">
        <p class="availability"><span class="big">{{humanize_table_status status}}</span></p>
    </div>
    <div class="stat-row">
      <p class="documents">
        <span class="big">
          {{#if_defined total_keys}}
          About {{total_keys}}
          {{else}}
          Unknown
          {{/if_defined}}
        </span>documents</p>
    </div>
    <div class="stat-row">
        <p class="masters"><span class="big">{{num_available_shards}}/{{num_shards}} </span> primary replicas reachable</p>
    </div>
    <div class="stat-row">
        <p class="replicas"><span class="big">{{num_available_replicas}}/{{num_replicas}} </span> replicas reachable</p>
    </div>
</div>
