<div class="status {{section_class}}">
  <h3>Indexes</h3>
  <p class="message">
    <span class="{{issue_class}}">{{num_sindex_issues}}</span> issues detected
  </p>
  <p class="details">
    <span class="{{constructing_class}}">{{num_sindexes_constructing}}</span>
    indexes constructing
  </p>
</div>
