{{#if no_query}}
<li class="no_history {{displayed_class}}">No history available</li>
{{else}}
<li class="query_history {{displayed_class}}" id="query_history_{{id}}">
  <div class="query_history_content">
    <div class="query_id">[{{num}}]</div>
    <pre class="query">{{query}}</pre>
    <div class="right_container">
      {{#if broken_query}}
      <img src="images/warning-icon.png" class="broken_query"
           title="This query produced an error" />
      {{/if}}
      <button class="btn delete_query" data-id={{id}}>Remove</button>
      <button class="btn load_query" data-id={{id}}>Load</button>
    </div>
  </div>
</li>
{{/if}}
