<div class="results_header">
    <ul class="nav nav-tabs change_view_container">
        {{#unless feed}}
            <li><a href="#profile_view" class="link_to_profile_view">Query profile</a></li>
        {{/unless}}
        <li><a href="#raw_view" class="link_to_raw_view">Raw view</a></li>
        <li><a href="#table_view" class="link_to_table_view">Table view</a></li>
        <li><a href="#tree_view" class="link_to_tree_view">Tree view</a></li>
    </ul>
    <p class="metadata {{#if floating_metadata}}floating_metadata{{/if}} {{#if feed.paused}}feed_paused{{else}}feed_unpaused{{/if}}">
        {{#if feed}}
            {{#if feed.ended}}
                The changefeed is closed.
            {{else}}
                <a href="#" class="unpause_feed only_if_paused"></a>
                <a href="#" class="pause_feed only_if_unpaused"></a>
                Listening for events<span class="animated-ellipsis"><span>.</span><span>.</span><span>.</span></span>
                <span class="only_if_paused">(paused: <span class="feed_upcoming">{{feed.upcoming}}</span> more available).</span>
            {{/if}}
        {{else}}
            {{#if query_has_changed}}Results from the previous query:{{/if}}
            {{#if no_results~}}
                No results returned.
            {{else}}
                {{num_results}} {{pluralize_noun 'row' num_results}} returned
                {{~#if show_more_data}} so far{{/if}}
                {{~#if execution_time_pretty}}
                    in {{execution_time_pretty}}
                {{~/if~}}.
                {{#if range_end~}}
                    Displaying rows {{range_begin}}-{{range_end}}
                {{~/if}}
                {{~#if show_more_data}}, more available {{/if}}
            {{/if}}
        {{/if}}
    </p>
</div>
<div class="wrapper_scrollbar"><div class="scrollbar_fake_content"></div></div>
<div class="tab-content"></div>
{{#if feed}}
    <div class="info more_results {{#unless feed.overflow}}hidden{{/unless}}">
         <span class="feed_overflow">Older results have been discarded.</span>
    </div>
{{else}}
    {{#if show_more_data}}
    <div class="info more_results">
        <p class="more_results_paragraph">More data is available. <a href="#" class="more_results_link">Load the next batch &rarr;</a></p>
    </div>
    {{else}}
        {{#if cursor_timed_out_template}}
            <div class="info more_results"><p class="more_results_paragraph">{{print_safe cursor_timed_out_template}}</p></div>
        {{/if}}
    {{/if}}
{{/if}}
