<div class="issue {{#if critical }}critical{{/if}} name-conflict">
  <div class="issue-header">
    <p class="issue-type">{{capitalize collisionType}} name conflict</p>
    <p class="message">
      "{{info.name}}" is the name of more than one {{collisionType}}
    </p>
  </div>
  <hr />
  <div class="issue-details">
    <p>{{pluralize_noun collisionType info.ids.length true}} with the name '{{info.name}}':</p>
    <ul>
      {{#each info.ids}}
      <li><a class="change-route" href="#{{pluralize_noun ../collisionType 2}}/{{this}}"><span class="uuid">{{humanize_uuid this}}</span></a>
        (<a id="rename_{{this}}" class="rename">Rename</a>)
      </li>
      {{/each}}
    </ul>
  </div>
</div>
