<div class="issue {{#if critical }}critical{{/if}} data-lost">
  <div class="issue-header">
    <p class="issue-type">Data lost</p>
    <p class="message">
      All replicas for a shard have been removed
    </p>
  </div>
  <hr />
  <div class="issue-details">
    <p>
      One or more servers that were acting as replicas for table
      <a href="/#tables/{{info.table_id}}">{{info.db}}.{{info.table}}</a>
      have been permanently removed from the cluster, and those
      replicas were holding all of the copies of some of the data for
      the table. Some data has been lost permanently.
    </p>
    <p>
      You can assign new replicas by writing to
      <code>rethinkdb.table_config</code> or by reconfiguring the
      table on the <a href="/#tables/{{info.table_id}}">table
      page for {{info.db}}.{{info.table}}</a>. The parts of the table
      that were lost will become available for writes again, but they
      will be empty.
    </p>
  </div>
</div>
