<div class="issue {{#if critical }}critical{{/if}} name-conflict">
  <div class="issue-header">
    <p class="issue-type">Shard needs primary</p>
    <p class="message">
      A shard has lost its primary replica
    </p>
  </div>
  <hr />
  <div class="issue-details">
    <p>
      A server that was acting as a primary replica for table <a
      href="/#tables/{{info.table_id}}">{{info.db}}.{{info.table}}</a>
      has been permanently removed from the cluster. One or more
      shards now have no primary replicas.
    </p>
    <p>
      Please assign primary replicas by writing to
      <code>rethinkdb.table_config</code> or by reconfiguring the
      table on the <a href="/#tables/{{info.table_id}}">table
      page for {{info.db}}.{{info.table}}</a>.
    </p>
  </div>
</div>
