<div class="issue {{#if critical }}critical{{/if}}">
  <div class="issue-header">
    <button class="btn btn-danger solve-issue remove-server">
      Permanently remove
    </button>
    <p class="issue-type">Server disconnected</p>
    <p class="message">
      <a class="change-route" href="/#servers/{{info.disconnected_server_id}}">
        {{info.disconnected_server}}
      </a> is disconnected
    </p>
  </div>
  <hr />
  <div class="issue-details">
    <p>
      Server <a class="change-route" href="/#servers/{{info.server_id}}">
      {{info.server}}
      </a> is disconnected from:
    </p>
    <ul>
      {{#each info.reporting_servers}}
      <li>
        <a href="/#servers/{{server_id}}">{{server}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
