<div class="issue {{#if critical }}critical{{/if}} name-conflict">
  <div class="issue-header">
    <p class="issue-type">Outdated indexes</p>
    <p class="message">Some secondary indexes need to be updated</p>
  </div>
  <hr />
  <div class="issue-details">
    <p>
      This cluster contains outdated indexes that were created with a
      previous version of RethinkDB that contained some bugs.<br/>
      Use <code>rethinkdb index-rebuild</code> to apply the latest bug
      fixes and improvements.  See <a href="http://www.rethinkdb.com//docs/troubleshooting/#my-secondary-index-is-outdated">the troubleshooting page</a> for more details.
    </p>

    <ul>
      {{#each info.tables}}
      <li>The table <a href="#tables/{{table_id}}">{{db}}.{{table}}</a> has {{indexes.length}} outdated {{pluralize_noun "index" indexes.length}}: {{comma_separated_simple indexes}}</li>
      {{/each}}
    </ul>
  </div>
</div>
