
    Set server 
    {{#if machine_exists}}
        <a href="#servers/{{machine_id}}">{{machine_name}}</a>'s 
    {{else}}
        [server no longer exists]
    {{/if}} 
    datacenter to <a href="#datacenters/{{datacenter_id}}">{{datacenter_name}}</a><br/>


