
    Set table 
    {{#if namespace_exists}}
        <a href="#tables/{{namespace_id}}">{{namespace_name}}</a>'s
    {{else}}
        [table no longer exists]
    {{/if}} 
    {{attribute}} to:
    <ul class="pretty_logs_ul">
        {{#each shards}}
            <li class="pretty_logs_li">{{shard}}: [ {{links_to_servers servers}} ]</li>
        {{/each}}
    </ul>


