<div class="row-fluid">
  <div class="span9">
    {{message}}
    <p class="from-server">Posted by
      <a href="#servers/{{server_id}}">{{server}}</a>
    </p>
  </div>
  <div class="span3">
    <time class="timeago datetime" title="{{timestamp}}" datetime="{{iso}}"></time>
  </div>
</div>
