
    Set table <a href="#tables/{{namespace_id}}">{{namespace_name}}</a>'s {{attribute}} to:
    <ul class="pretty_logs_ul">
        {{#each machines}}
            <li class="pretty_logs_li">Server <a href="#servers/{{machine_id}}">{{machine_name}}: {{value}}</li>
        {{/each}}
    </ul>


