
    Set server 
    {{#if server_exists}}
        <a href="#servers/{{server_id}}">{{server_name}}</a>'s 
    {{else}}
        [server no longer exists]
    {{/if}} 
    datacenter to <a href="#datacenters/{{datacenter_id}}">{{datacenter_name}}</a><br/>


