{{! Template for the rename item dialog }}
<div class="alert alert-error error_answer"></div>
<form class="form">
        <p>
          <strong>{{type}} id:</strong>
          {{#if is_database}}
            {{id}}
          {{else}}
          <a class="change-route"
             href="#{{pluralize_noun type 2}}/{{id}}">{{id}}</a>
          {{/if}}
        </p>
        <label for="new_name">Rename {{type}} from '{{old_name}}' to: </label>
        <div class="input">
            <input class="xlarge" id="focus_new_name" name="new_name" size="30" type="text" placeholder="New Name"/>
        </div>
</form>
