
    <div class="issue {{#if critical }}critical{{/if}} name-conflict">
        <div class="issue-header">
            <p class="issue-type">Port conflict</p>
            <p class="message">Could not bind to port</p>
            <p class="datetime"><abbr class="timeago" title="{{datetime}}">{{datetime}}</abbr></p>
        </div>
        <hr />
        <div class="issue-details">
            <p>A necessary port is already in use on this server</p>
            <p class="description">Server <a class="change-route" href="#servers/{{machine_id}}">{{machine_name}}</a> {{description}}.</p>
            <p>Some other process is likely using this port. Kill it or instruct it to release the port in order to resolve this issue.</p>
        </div>
    </div>


