<div class="issue {{#if critical }}critical{{/if}}">
    <div class="issue-header">
        <button class="btn btn-danger solve-issue remove-server">
          Permanently remove
        </button>
        <p class="issue-type">Server down</p>
        <p class="message">
         <a class="change-route" href="#servers/{{info.server_id}}"> {{info.server}}</a>
          is inaccessible</p>
        {{!-- Uncomment this when the time attribute is re-added
        <p class="datetime"><abbr class="timeago" title="{{time}}">{{time}}</abbr></p>
        --}}
    </div>
    <hr />
    <div class="issue-details">
      <p>
        Server <a class="change-route" href="#servers/{{info.server_id}}">{{info.server_name}}</a> is unavailable from:
      </p>
      <ul>
        {{#each info.affected_servers}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
</div>
