
    <div class="square_li"><span class="name">{{#if is_empty}}<em>[empty string]</em>{{else}}{{name}}{{/if}}</span> — <a href="#" data-name="{{name}}" class="delete_link">delete</a></div>
    <div class="progress_li">
        {{#if ready}}Ready to use{{else}}building{{/if}} 
    </div>
    <div class="alert_li">
        <div class="alert alert_confirm_delete">
            <div class="content">
                Are you sure you want to delete the secondary index {{#if is_empty}}<em>[empty string]</em>{{else}}<strong>{{name}}</strong>{{/if}}?<br/>
                <button class="btn cancel_delete_btn">Cancel</button><button class="btn delete_index_btn">Delete</button>
            </div>
        </div>
    </div>


