<div class="summary">
  <div class="stat-row first">
    <p class="availability">
      {{!-- availability svg gets inserted here --}}
      <span class="big">{{humanize_table_status status}}</span>
      {{#if parenthetical}}
      <span class="parenthetical">(some replicas missing)</span>
      {{/if}}
    </p>
  </div>
  <div class="stat-row">
    <p class="documents">
      <span class="big">
        {{#if_defined total_keys}}
        About {{approximate_count total_keys}}
        {{else}}
        Unknown
        {{/if_defined}}
      </span>documents</p>
  </div>
  <div class="stat-row">
    <p class="masters"><span class="big">{{num_primary_replicas}}/{{num_shards}}</span> primary replicas</p>
  </div>
  <div class="stat-row">
    <p class="replicas"><span class="big">
      {{num_available_replicas}}/{{num_replicas}} </span> replicas available</p>
  </div>
</div>
