
    <div class="click_detector">
    {{#if data_to_expand}}
    <div class="{{class_value}} jta_value {{classname}}">       
        <span data-json_data="{{data_to_expand}}" class="jta_object">
            <span class="jta_arrow jta_arrow_h"></span>
            {{print_safe value}}
        </span>
    </div>
    {{else}}{{#if is_object}}
     <div class="{{class_value}} jta_value {{classname}}">       
        <strong>{...}</strong>
    </div>
   
    {{else}}
    <div class="jta_value {{class_value}} {{classname}}"><span>{{value}}</span></div>
    {{/if}}{{/if}}
</div>


