
    {{#if is_table}}
        <li class="table parent">
            <div class="tree-line"></div>
            <div class="table-info parent-info">
                <p class="name">Table <a href="/#tables/{{id}}">{{db}}.{{table}}</a></p>
            </div>
        </li>
        <ul class="shards">
        </ul>
    {{/if}}
    {{#if is_shard}}
        <li class="shard child">
            <div class="tree-node"></div>
            <div class="shard-info child-info">
                <p class="name"><span class="highlight">Shard {{index}}/{{num_shards}}</span></p>
                <p class="role">Role <span class="highlight">{{role}}</span></p>
                <p class="num-keys">
                    {{#if num_keys}}
                        <span class="highlight">~{{num_keys}}</span> {{pluralize_noun "document" num_keys}}
                    {{else}}
                        <span class="highlight">N/A</span> documents  
                    {{/if}}
                </p>
            </div>
        </li>
    {{/if}}


