
    <div class="checkbox-container">
        <input type="checkbox" id="checkbox_machine_list_{{id}}"></input><label for="checkbox_machine_list_{{id}}"></label>
    </div>
    <div class="server-details">
        <p class="name"><a href="#servers/{{id}}">{{name}}</a></p>
        <p class="quick_info">
            {{primary_count}} {{pluralize_noun "primary" primary_count}}, {{secondary_count}} {{pluralize_noun "secondary" secondary_count}}
        </p>
        <div class="status">{{humanize_machine_reachability status}}</div>
    </div>

