<td class="name">
  <a href="#servers/{{id}}">{{name}}</a>
  <span class="tags" title="{{comma_separated_simple tags}}">
    {{comma_separated_simple tags}}
  </span>
</td>
<td class="quick_info">
{{primary_count}} {{pluralize_noun "primary" primary_count}}, {{secondary_count}} {{pluralize_noun "secondary" secondary_count}}
</td>
<td class="status">
  {{humanize_server_reachability status}}
</td>
