
    <div class="entry-metadata">
        <p class="datetime"><abbr class="timeago" title="{{timeago_timestamp}}">{{timeago_timestamp}}</abbr></p>
    </div>
    <p class="level">{{level}}</p>
    <p class="message">
        {{formatted_message}}
        {{#if json}}
            <a href="#" class="json" rel="popover" data-content="<pre>{{json}}</pre>" data-title="JSON applied to server">examine JSON</a>
        {{/if}}
    </p>

