<div class="summary">
  <div class="stat-row first">
    <p class="availability">
      <span class="big">
        {{humanize_server_reachability status}}
      </span>
    </p>
  </div>
  <div class="stat-row">
    <p class="datacenter">
      <span class="big">{{version}}</span> version
    </p>
  </div>
  <div class="stat-row">
    <p class="uptime"><span class="big">{{uptime}} </span>uptime</p>
  </div>
  <div class="stat-row">
    <p class="ips"><span class="big">{{#if main_ip}}{{main_ip}}{{else}}N/A{{/if}} </span>hostname</p>
  </div>
  <div class="tag-row">
    {{#if tags.length}}
    <p>
      <span class="tags" data-original-title="To change server tags, see the {{system_db}}.server_config table.">
        {{comma_separated_simple tags}}
      </span>
      tags
    </p>
    {{else}}
    <p class="admonition" data-original-title="It will not be used by new tables, and
      the reconfigure command will ignore it.">
      This server has no tags.
    </p>
    {{/if}}
  </div>
</div>
